@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*
	------
	Layout
	------
*/
.breaktitle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("../pictures/moosebackgroundimage.jpg");
	padding: 1.25em;
}
.slideshow-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.slideshow-title > h2 {
	padding: 0;
	margin: 0;
}
.container-before {
	width: 100%;
	min-height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.slideshow-slider {
	max-width: 350px;
	overflow: hidden;
}
.current-slide {
	white-space: nowrap;
	max-width: 350px;
	transition: ease 1000ms;
}
.slide {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 100%;
}
.dot {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}
.dot * {
	margin: 0 0.5em;
	width: 10px;
	height: 10px;
	border-radius: 20px;
}
.dot *:hover {
	cursor: pointer;
}

@media (min-width: 768px) {
	.slideshow-slider {
		max-width: 862px;
	}
	.current-slide {
		max-width: 862px;
	}
	.container-before {
		min-height: 90vh;
	}
}

/*
	------------------
	styling/typography
	------------------
*/
.before-title-1 > h1 {
	/* letter-spacing: 0.1em; */
}
.breaktitle > h1 {
	font-family: Montserrat;
	color: #fff;
	font-weight: 300;
}
.slideshow-title > h2 {
	font-weight: 300;
	color: #4a4a4a;
}
.dot * {
	background-color: #d0d0d0;
}
.dot.active {
	background-color: #f57f2a;
}
.bark-link::after {
	content: "";
	left: 0;
	bottom: 0;
	position: absolute;
	height: 2px;
	width: 0;
	transition: width 0.3s ease;
	background-color: #f57f2a;
}
.bark-link:hover::after {
	width: 100%;
}
.bark-link,
.bark-link:visited,
.bark-link:link {
	color: #f57f2a;
	position: relative;
}
