@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*
---------------
    Layout
---------------
*/
.main-content {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
}
.main-content {
	background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
		url("../pictures/moosebackgroundimage.webp");
	background-position: bottom left;
	background-size: cover;
}

.main-text {
	margin: auto 2rem;
	max-width: 550px;
}

.main-text > * {
	margin: 0;
}
/*
-----------------------
    Styling/Typography
-----------------------
*/
.main-text > button {
	all: unset;
	background-color: rgba(205, 127, 42, 0.6);
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	padding: 0.6em 2.5875em;
	border-radius: 0.45rem;
}
.main-text-one,
.main-text-two,
.main-text > button,
.main-text-three {
	color: #ffff;
}
.main-text-one {
	color: #f57f2a;
	font-family: Montserrat;
	font-size: 1.125rem;
	font-size: 500;
}
.main-text-two {
	font-family: Bricolage Grotesque;
	font-size: 3.28125rem;
	font-weight: 900;
}
.main-text-three {
	font-family: Roboto;
	font-weight: 300;
	font-weight: 1.40625rem;
}
